.trailerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;

  h1 {
    font-size: 38px;
  }

  span {
    color: var(--primary-color);
  }

  iframe {
    width: 50%;
    height: 350px;
    border: none;
  }
}

@media (max-width: 639px) {
  .trailerContainer {
    gap: 30px;

    h1,
    iframe {
      width: 100%;
    }

    h1 {
      font-size: 30px;
    }
  }
}
