.trailerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 45px;
    width: 45%;
  }

  span {
    color: var(--primary-color);
  }

  iframe {
    width: 50%;
    height: 350px;
    border: none;
  }
}

@media (max-width: 639px) {
  .trailerContainer {
    flex-direction: column;
    gap: 30px;

    h1,
    iframe {
      width: 100%;
    }

    h1 {
      font-size: 30px;
    }
  }
}
